<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidHomework">
        <activity
            android:name=".userFollowing.FollowingActivity"
            android:exported="false" />
        <activity
            android:name=".userFollowers.FollowersActivity"
            android:exported="false" />
        <activity
            android:name=".userRepo.UserReposActivity"
            android:exported="false" />
        <activity
            android:name=".userInfo.UserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".language.LanguageReposActivity"
            android:exported="false" />
        <activity
            android:name=".home.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>